.note-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  background-color: #7c96ff;
  color: #fff;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}

.home button:hover {
  background-color: #7c96ffcd;
}

.home {
  margin-top: 30px;
}
